<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:icon="@drawable/ic_goute_logo"
        android:roundIcon="@drawable/ic_goute_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.XeKhachBooking">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.guest.GuestHomeActivity" />
        <activity android:name=".activity.guest.GuestAccountActivity" />
        <activity android:name=".activity.UserAccountActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.OtpVerificationActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.TripListActivity" />
        <activity android:name=".TripDetailActivity" />
        <activity android:name=".activity.SeatSelectionActivity" />
        <activity android:name=".activity.SelectPickupPointActivity" />
        <activity android:name=".activity.SelectDropoffPointActivity" />
        <activity android:name=".activity.ContactInfoActivity" />
        <activity android:name=".activity.MyBookingsActivity" />
        <activity android:name=".activity.guest.GuestMyBookingsActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.PassengerInfoActivity" />
        <activity android:name=".activity.BookingDetailActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.PaymentWebActivity" />
        <activity android:name=".activity.PaymentReturnActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="xekhachbooking" android:host="payment" />
            </intent-filter>
        </activity>
        <activity android:name="vn.hcmute.busbooking.activity.FavoritesActivity"
            android:exported="false" />
        <activity android:name="vn.hcmute.busbooking.activity.guest.GuestFavoritesActivity"
            android:exported="false" />
        <activity android:name=".activity.HelpCenterActivity" />
        <activity android:name=".activity.TermsServiceActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.UserPromotionsActivity" />
        <activity android:name=".activity.FeedbackManagementActivity" />
        <!-- ✅ Thêm TripFeedbackListActivity -->
        <activity android:name=".activity.TripFeedbackListActivity" android:parentActivityName=".activity.FeedbackManagementActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.ManageRoutesActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.RouteFormActivity" android:parentActivityName=".activity.admin.ManageRoutesActivity" />
        <activity android:name=".activity.admin.ManageBookingsActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.BookingAdminDetailActivity" android:parentActivityName=".activity.admin.ManageBookingsActivity" />
        <activity android:name=".activity.RevenueStatsActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.RevenueDetailsActivity" android:parentActivityName=".activity.RevenueStatsActivity" />
        <activity android:name=".activity.admin.ManageUsersActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.EditUserActivity" android:parentActivityName=".activity.admin.ManageUsersActivity" />
        <activity android:name=".activity.admin.ManageTripsActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.TripFormActivity" android:parentActivityName=".activity.admin.ManageTripsActivity" />
        <activity android:name=".activity.admin.ManageDriversActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.DriverFormActivity" android:parentActivityName=".activity.admin.ManageDriversActivity" />
        <activity android:name=".activity.admin.ManageReviewsActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <!-- ✅ Thêm ReviewManagementActivity -->
        <activity android:name=".activity.ReviewManagementActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.ManagePromotionsActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.PromotionFormActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.AdminOfflinePaymentActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
        <activity android:name=".activity.admin.AdminAddBookingActivity" android:parentActivityName=".activity.admin.AdminHomeActivity" />
    </application>

</manifest>
